/* *Fonts */

@font-face {
  font-family: 'SegoeWP';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/SegoeWP.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/segoe-wp-light.ttf') format('ttf');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/OpenSans-Regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/PTS55f-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Asap-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Segoe WP light';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/segoe-wp-light.ttf') format('ttf');
}

@font-face {
  font-family: 'Segoe UI light';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/10389.ttf') format('ttf');
}

/* *Normalize */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}


body {
  margin: 0;
}

main {
  display: block;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

button,
input {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  overflow: visible;
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.page-container {
  margin: 0 auto;
  padding: 0;
  width: 640px;
}

.header {
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
}

.logo__wrapper {
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 3px 10px;
  background-color: #585858;
  align-items: center;
}

.logo__img {
  width: 45px;
  height: 45px;
}

.logo__title {
  margin: 0;
  padding: 0;
  padding-right: 20px;
  font-family: 'Lucida Sans', sans-serif;
  font-size: 19px;
  font-style: italic;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 2px 2px 0  rgba(0, 0, 0, 0.42) ;
}

.header__list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  background-image: url('./assets/images/header-bg.png');
}

.header__item {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 auto;
  padding: 15px 10px;
  border-left: 1px solid #b99403;
  color: #9b7d08;
  font-family: 'SegoeWP', sans-serif;
  font-size: 19.5px;
  text-transform: uppercase;
}

.header__item:first-child {
  padding-right: 23px;
  padding-left: 23px;
  border-left: none;
}
.header__item:hover {
  background-color: #f3dc84;
}

.header__item:active {
  color:#f3dc84;
  background-color: #9b7d08;
}

.header__icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0 5px;
  padding: 0;
}

.header__link {
  color: inherit;
  text-decoration: none;
}

.slider__button {
  display: none;
}

.video__wrapper {
  position: relative;
}

.video {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.video__controls {
  position: absolute;
  width: 540px;
  bottom: 25px;
  left: 50%;
  transform: translateX(-43%);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 0;
  line-height: 0;
}

.play {
  width: 27px;
  height: 27px;
  padding: 0;
  outline: none;
  border: none;
  background-image: url('./assets/images/play-square.png');
}

.progress {
  width: 404px;
  height: 12px;
  margin: 0 20px;
  -webkit-appearance: none;
  border-radius: 10px;
  background: -webkit-linear-gradient(left, rgba(245, 197, 6, 1) 0%, rgba(245, 197, 6, 1) 25%, rgba(245, 197, 6, 0.28) 0%);
  outline: none;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  background-color: transparent;
  width: 18px;
  height: 18px;
}

.volume {
  width: 15px;
  height: 15px;
  padding: 0;
  outline: none;
  border: none;
  background-image: url('./assets/images/volume-icon.svg');
  background-color: transparent;
}

.description__wrapper {
  display: none;
}

.advantages {
  min-height: 179px;
  margin-top: -9px;
  background:
    url('./assets/images/advantages-bg.png') 0 0/ contain no-repeat,
    url('./assets/images/advantages-bg.png') 0 5px/ contain no-repeat;
}

.advantages__list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  display: flex;
  flex-flow: column;
  width: 30%;
  padding: 40px 15px;
}

.advantages__icon {
  width: 100px;
  height: 70px;
  margin: 0 auto;
}

.advantages__text {
  margin: 0 auto;
  padding: 10px;
  font-family: 'Segoe UI light';
  font-size: 23px;
  text-transform: uppercase;
  text-align: center;
}

.resources {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
  padding: 0;
}

.resources__wrapper {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.resources__title {
  display: none;
}

.resources__progress {
  display: none;
}

.resources__lorem {
  position: relative;
  width: 300px;
  max-height: 233px;
  margin: 0 10px 10px 10px;
  overflow: auto;
  background-color: #ec9e03;
}

.resources__lorem-text {
  margin: 0;
  padding: 20px 26px 0px 25px;
  color: #fff;
  font-family: 'Segoe UI light', sans-serif;
  font-size: 29px;
  line-height: 33px;
}

.resources__plus {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  left: 245px;
  top: -30px;
  fill: #fff;
}

.resources__video {
  position: relative;
  width: 315px;
  height: 233px;
  margin: 0 10px 10px 0;
}
.resources__video-poster {
  width: 315px;
  height: 233px;
  margin: 0;
  padding: 0;
}

.resources__play {
  position: absolute;
  width: 61px;
  height: 61px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.resources__twitter {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  min-width: 580px;
  margin: 0 auto;
  padding: 0 30px;
  background-color: #f5c507;
  background-image: url('./assets/images/twittericon.svg');
  background-repeat: no-repeat;
  background-position: 18% 70%;
}

.resources__list {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  width: 285px;
  list-style: none;
  margin: 8px 0;
  padding: 0;
}

.resources__item {
  width: 275px;
  margin: 9px 0;
  padding-top: 8px;
  padding-right: 0;
  padding-left: 15px;
  padding-bottom: 8px;
  font-family: 'Arial';
  font-size: 13px;  
  color: #8f8e8e;
  border-radius: 10px;
  background-clip: border-box;
}

.resources__item--1 {
  background-image: url('./assets/images/twitt.png');
  background-repeat: no-repeat;
}

.resources__item--2 {
  background-image: url('./assets/images/twitt-2.png');
  background-repeat: no-repeat;
}

.resources__item--3 {
  background-image: url('./assets/images/twitt-3.png');
  background-repeat: no-repeat;
}

.twitt__form {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 10px;
  padding: 0;
  border-radius: 10px;
  border: 1px solid #d0a806;
}

.twitt__input {
  margin: 0;
  line-height: 30px;
  border-radius: 10px 0 0 10px;
  border: 0;
  outline: none;
  -webkit-box-shadow: inset 3px 3px 5px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    inset 3px 3px 5px 0px rgba(50, 50, 50, 0.25);
  box-shadow:         inset 3px 3px 5px 0px rgba(50, 50, 50, 0.25);}

.twitt__submit {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #fff;
  line-height: 30px;
  background: #ec9e03;
  background: linear-gradient(to bottom rgba(50, 50, 50, 0.25));;
  border-radius: 0 10px 10px 0;
  border: 0;
  outline: none;  
}

.devices {
  position: relative;
  margin: 0;
  padding: 55px 20px;
  background-color: #474747;
  box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.72); 
}

.some__list {
  display: none;
}

.devices__title {
  margin: 0;
  margin-bottom: 70px;
  padding: 0;
  font-family: 'OpenSans';
  font-size: 39px;
  font-weight: normal;
  color: #f5c506;
  text-transform: uppercase;
}

.devices__free {
  position: absolute;
  top: 125px;
  left: 25px;
  width: 116px;
  margin: 0;
  padding: 48px 0;
  font-family: 'PTSans', sans-serif;
  font-size: 19px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  background-color: #f5c506;
  border-radius: 50%;
}

.devices__list {
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
}

.devices__list  li {
  margin-right: 25px;
}

.devices__list  li:not(:first-child) {
  margin-top: auto;
  margin-bottom: 40px;
}


.footer-logo {
  padding: 5px 65px;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.72); 
}

@media (min-width: 1200px) {
  .page-container {
    width: 100%;
    max-width: 1300px;
    background-image: url('./assets/images/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .header {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto 20px;
    padding: 30px 0;
  }

  .header__nav {
    width: 454px;
    flex-grow: 0;
    align-self: flex-end;
  }
  
  .header__list {
    border: 0;
    box-shadow: 
      -4px -4px 0px  rgba(245, 197, 6, 0.27),
      -8px -8px 0px  rgba(245, 197, 6, 0.27);
  }

  .header__item {
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 1px solid #b99403;
  }
  
  .logo__wrapper {
    background-color: transparent;
    margin-right: auto;
  }

  .logo__img {
    width: 85px;
    height: 85px;
  }

  .logo__title {
    font-size: 40px;
  }

  .description__wrapper {
    align-self: center;
    display: flex;
    flex-flow: column nowrap;
    padding-left: 40px;
  }

  .slider {
    position: relative;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto 70px;
    padding: 0;
  }
  
  .slider__wrapper {
    overflow: hidden;
    padding: 0 140px;
  }

  .slide {
    display: flex;
    flex-flow: row nowrap;
  }
 
  .slider__button {
    position: absolute;
    display: block;
    width: 34px;
    height: 58px;
    font-size: 0;
    line-height: 0;
  }

  .slider__button--left {
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    background-image: url('./assets/images/arrow-left.png');
  }

  .slider__button--right {
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    background-image: url('./assets/images/arrow-right.png');
  }

  .video {
    width: 550px;
    height: 330px;
  }

  .video__title {
    margin: 0;
    padding: 0;
    font-family: 'Asap', sans-serif;
    font-size: 63px;
    text-transform: uppercase;
    text-align: center;
  }

  .video__title--cool {
    color: #f5c506;
  }

  .video__title--minimal {
    color: #fff;
  }

  .advantages {
    position: relative;
    width: 100%;
    max-width: 1300px;
    background-repeat: repeat;
    -webkit-box-shadow: 
      0px 5px 5px 0px rgba(0,0,0,0.26),
      0px -5px 5px 0px rgba(0,0,0,0.26);
    -moz-box-shadow:  
      0px 5px 5px 0px rgba(0,0,0,0.26),
      0px -5px 5px 0px rgba(0,0,0,0.26);
    box-shadow: 
      0px 5px 5px 0px rgba(0,0,0,0.26),
      0px -5px 5px 0px rgba(0,0,0,0.26);
  }

  .advantages__list {
    padding: 5px 0;
  }

  .advantages__text {
    font-size: 27px;
  }

  .resources {
    position: relative;
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 140px;
    background-image: url('./assets/images/section-bg.jpg');
  }

  .resources__title {
    display: block;
    font-family: 'PT Sans';
    font-size: 37px;
    color: #fff;
    text-transform: uppercase;
  }

  .resources__container {
    display: flex;
    flex-flow: row nowrap;
  }

  .resources__lorem,
  .resources__video {
    margin: 0;
  }

  .resources__twitter {
    min-width: 330px;
    width: 330px;
    height: 230px;
    margin-left: 35px;
    padding: 0;
    background-color: #ec9e03;
    background-position: center;
  }

  .twitt__form {
    display: none;
  }

  .resources__list {
    display: none;
  }

  .resources__progress {
    display: block;
    width: 900px;
    height: 17px;
    margin: 20px;
    -webkit-appearance: none;
    border-radius: 10px;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.4) 25%);
    outline: none;
  }
  
  .resources__progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    background-color: #ec9e03;
    width: 196px;
    height: 17px;
    border-radius: 15px;
  }
  

  .page-footer .logo__wrapper {
    background-color: #4c4c4c;
  }


}

